<!DOCTYPE html>

<html>



<head>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Profile Page</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">

  <style>

    body {

      margin: 0;

      padding: 0;

      font-family: Arial, sans-serif;

      background-color: #1afadc;

    }



    .profile-container {

      display: flex;

      justify-content: center;

      align-items: center;

      height: 100vh;

    }



    .profile-card {

      background-color: #fff;

      border-radius: 5px;

      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

      width: 400px;

      padding: 2rem;

      text-align: center;

    }



    .profile-card .title {

      font-size: 2rem;

      font-weight: bold;

      color: #1e90ff;

      margin-bottom: 1rem;

    }



    .profile-card .subtitle {

      font-size: 1.5rem;

      color: #000000;

      margin-bottom: 2rem;

    }

  </style>

</head>



<body>

  <div class="profile-container">

    <div class="profile-card">

      <h1 class="title">Profile</h1>

      <h2 class="subtitle">Username: {{g.user.username}}</h2>

      <h2 class="subtitle">User ID: {{g.user.id}}</h2>

    </div>

  </div>

</body>



</html>



